.download-container {
  width: 100%;
  min-height: 70vh;
  background-image: url("/images/banners/bg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #e6e6e6;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.download-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  padding: 40px 40px 40px 80px;
}
.download-content > span:first-child {
  font-size: 40px;
  font-weight: bold;
}
.download-content > span:nth-child(2) {
  font-size: 15px;
  color: gray;
}
.download-content > div {
  display: flex;
  gap: 20px;
}
.download-content > div > button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.download-content > div > button > img {
  border: none;
  width: 190px;
}

@media only screen and (max-width: 768px) {
  .download-container {
    justify-content: center;
    background-image: none;
  }
}
@media only screen and (max-width: 540px) {
  .download-content {
    zoom: 80%;
  }
  .download-content {
    padding: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .download-content {
    zoom: 70%;
    height: fit-content;
  }
  .download-content {
    padding: 40px;
  }
}
@media only screen and (max-width: 330px) {
  .download-content {
    zoom: 60%;
    height: fit-content;
  }
  .download-content {
    padding: 40px;
  }
}
