.hero-container {
  max-width: 100lvw;
  height: 100vh;
  background-image: url("/images/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 650px;

  display: flex;
  justify-content: center;
}
.hero-content {
  width: 90lvw;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.hero-carImage {
  width: 60%;
  position: relative;
  right: 0;
}
.hero-textSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  background: transparent;
  max-width: 550px;
}
.hero-textSection > span:first-child {
  font-size: 25px;
  font-weight: bold;
}
#hero-highlighted {
  color: #ff4d30;
}
.hero-textSection > span:nth-child(2) {
  /* background-color: purple; */
  font-size: 45px;
  font-weight: bold;
  line-height: 50px;
}
.hero-textSection > span:nth-child(3) {
  font-size: 16px;
  color: rgb(84, 83, 83);
}
.hero-textSection-Buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.hero-textSection-Buttons > button {
  color: #ffff;
  font-weight: bold;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.hero-textSection-Buttons > button:first-child {
  background-color: #ff4d30;
}
.hero-textSection-Buttons > button:last-child {
  background-color: black;
}
.hero-textSection-Buttons > button:last-child:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

@media only screen and (max-width: 1024px) {
  .hero-container {
    background-size: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .hero-carImage {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .hero-container {
    background-image: none;
    margin-bottom: 20px;
  }
  .hero-content {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .hero-textSection {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .hero-textSection-Buttons > button {
    color: #ffff;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
  }
}
