@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  background-color: transparent;
  position: absolute;
  z-index: 9999;
  overflow-x: hidden;
}

.nav-logo > img {
  height: 3rem;
  cursor: pointer;
}
ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-buttons-register {
  background-color: #ff4d30;
  color: #ffff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.nav-hamburger {
  display: none;
}

.nav-sidebar > ul {
  display: flex;
  flex-direction: column;
  width: 100lvw;
  background-color: white;
  align-items: center;
  height: 100lvh;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 20px;
  transition: all 0.3sec ease-in-out;
}
#nav-sidebar-cross {
  z-index: 9999;
  position: absolute;
  right: 20px;
  top: 30px;
}

@media only screen and (max-width: 900px) {
  .nav-links,
  .nav-buttons {
    display: none;
  }
  .nav-hamburger {
    display: block;
    font-size: 20px;
  }
  .nav-container {
    justify-content: space-between;
    padding: 0pc 40px;
  }
}
